:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding: 0px !important;
}
/*
.pagina{
position: absolute;
top: 10;
left: 10;
right: 0px !important;
bottom: 10;

}

*/
