<div class="container contact">
  <br />
  <br />
  <br />
  <h5>Lista lojas com o Menor Preço</h5>
  <hr />
  <br />

  <div class="container contact">
    <div class="collection">
      <a class="collection-item" (click)="onClickItem(1)"
        ><span class="new badge" data-badge-caption="melhor preço"
          >R$ 48,50</span
        >Loja 1</a
      >
      <a class="collection-item" (click)="onClickItem(2)"
        ><span class="badge">R$ 49,02</span>Loja 2</a
      >
      <a class="collection-item" (click)="onClickItem(3)"
        ><span class="badge">R$ 55,02</span>Loja 3</a
      >
      <a class="collection-item" (click)="onClickItem(4)"
        ><span class="badge">R$ 60,15</span>Loja 4</a
      >
    </div>

    <!-- link home -->
    <div class="row">
      <div class="col s12 m6 offset-m3 center">
        <a href="/index.html"> VOLTAR AO MENU PRINCIPAL </a>
      </div>
    </div>
    <!-- link home -->
  </div>
</div>
